{%extends 'music/master1.html'%}
{%block title%}
Albums
{%endblock%}
{%block body%}
<div class="container">
{%for item in album%}
<div class="row">
 <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <img src="{{item.image.url}}" alt="..">
        <div class="caption">
            <h3>{{item.title}}</h3>
            <p>{{item.artist}},{{item.genre}},{{item.year}}</p>
             <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a></p>
             <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></p>
             <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></p>
         </div>
      </div>
 </div>

{%endfor%}
</div>
</div>
    {%endblock%}